version: '3'
services:
  app:
    build:
      context: .
      dockerfile: ./Dockerfile
    command: python3 app.py # 해당 부분은 Dockerfile에 정의되어 있으므로 빠져도 됩니다.
    volumes:
      - .:/code
    ports:
      - "80:80"
